@font-face {
    font-family: 'DancingScript';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('DancingScript-Bold'),
        url('../fonts/DancingScript-Bold.woff2') format('woff2'),
        url('../fonts/DancingScript-Bold.woff') format('woff');;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Dosis-ExtraBold'),
        url('../fonts/Dosis-ExtraBold.woff2') format('woff2'),
        url('../fonts/Dosis-ExtraBold.woff') format('woff');;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Dosis-SemiBold'),
        url('../fonts/Dosis-SemiBold.woff2') format('woff2'),
        url('../fonts/Dosis-SemiBold.woff') format('woff');;
}

@font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Mukta-Regular'),
        url('../fonts/Mukta-Regular.woff2') format('woff2'),
        url('../fonts/Mukta-Regular.woff') format('woff');;
}

@font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Mukta-Medium'),
        url('../fonts/Mukta-Medium.woff2') format('woff2'),
        url('../fonts/Mukta-Medium.woff') format('woff');;
}

@font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Mukta-Bold'),
        url('../fonts/Mukta-Bold.woff2') format('woff2'),
        url('../fonts/Mukta-Bold.woff') format('woff');;
}