html,
body {
    height: 100%;
}

body {
    color: $text;
    font-size: 14px;
    line-height: 172.682%; /* 25.902px */
    letter-spacing: 0.675px;
}

a {
    @extend %Mukta-400;
    color: $text;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    @extend %Dosis-600;
    color: $title;
    text-align: center;
    font-size: 46px;
    line-height: 133.5%; /* 61.41px */
    letter-spacing: 2.07px;
}

.text {
    @extend %Mukta-400;
    color: $text;
    margin: 0 auto;
    text-align: center;
}
