$accent: #71b3c6;
$title: #264a51;
$text: #335E74;
$bg: #F3F3F3;
$tab: #748289;

%DancingScript-700 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

%Dosis-800 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
}

%Dosis-600 {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

%Mukta-400 {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
}

%Mukta-500 {
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
}

%Mukta-700 {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

%btn {
    @extend %Dosis-600;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.675px;
    padding: 8px 19px 7px;
    border-radius: 3px;
    border: 1.5px solid #43717d;
    background-color: transparent;
    color: #43717d;
    transition: 0.4s;
    cursor: pointer;
    &:hover,
    &:focus {
        border-color: #43717d;
        color: #fff;
        box-shadow: inset 10em 0 0 0 #43717d;
    }
}

